
.row {
    display: flex;
    justify-content: center;
}

.col-2 {
    background-color: #1E213A;
    margin: 0.75vh 0.35vw;
    padding: 2vh 1vw;
    font-weight: bolder;
    color: #cacaca;
    overflow: hidden;
    border-radius: 5px;
}

.select{
    background-color: #3e4586;
}

.col-2:first-child{
    background-color: #141627;
}

.col-2:hover{
    transition: 0.3s ease;
    background-color: #141627;
    cursor: pointer;
    transform: scale(1.1);
}

.col-2:not(:hover){
    transition: 0.5s ease;
    transform: scale(1);
}

.txt-color{
    color: #ffdd9f;    
}

p{
    margin: 2px 0px;
    padding: 0;
}
p > span{
    font-size: 20px;
}

.col-md-6 > p{
    font-size: 14px;
}