<div class="row" align="center">
    <div class="col-md-5">
      <h4>Estado del viento</h4>
      <p><span class="txt-color">{{statistics?.wind.speed}}</span> m/s</p>
    </div>
    <div class="col-md-5">
      <h4>Humedad</h4>
      <p><span class="txt-color">{{statistics?.humidity}}</span> %</p>
    </div>
    <div class="col-md-5">
      <h4>Visibilidad</h4>
      <p><span class="txt-color">{{statistics?.visibility}}</span> km</p>
    </div>
    <div class="col-md-5">
      <h4>Presión del aire</h4>
      <p><span class="txt-color">{{statistics?.pressure}}</span> hPa</p>
    </div>
  </div>